# Ignore the results folder (optional if results are large or sensitive)
results/hyperparameter/*
results/component/*
results/sensitivity/*
results/*
# Except the plots subfolder
!results/plots/
src/log/*
src/logs/*
src/*.pkl
src/*.tar.gz
*.csv
# Ignore SLURM job logs and error files
*.out
*.err

# Ignore temporary files
*.tmp
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache
__pycache__/
*.pyc

notebooks/*pkl
#notebooks/comparison_model
#notebooks/cvtestout
#notebooks/selected_hyperparam



